In [1]:
import pandas as pd
import os

In [2]:
vine_data_to_load = "C:/Users/casey/OneDrive/Desktop/Course Work/Module 17/Starter_Code (3)/vine_table.csv"
vine_data_df = pd.read_csv(vine_data_to_load)

C:\Users\casey\AppData\Local\Temp\ipykernel_20156\2078360444.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  vine_data_df = pd.read_csv(vine_data_to_load)

In [3]:
vine_data_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4,0.0,0.0,N,N
2,RY8I449HNXSVF,5,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5,0.0,0.0,N,Y

In [4]:
new_df=vine_data_df[vine_data_df['total_votes'] > 19]
new_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y
2731,R2AYJHH8WJNGAU,4,98.0,104.0,N,Y
3007,R111DJA10Y6CMU,5,26.0,39.0,N,Y
3164,R2EE2TR4MRDV0U,5,53.0,59.0,N,Y
3368,RD4A80I5JDHED,5,69.0,77.0,N,N
3376,R1GU6IYZQWQE8X,2,24.0,25.0,N,Y

In [5]:
new_df['results'] = new_df['helpful_votes'] / new_df['total_votes']
new_df.head(10)

C:\Users\casey\AppData\Local\Temp\ipykernel_20156\188614663.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['results'] = new_df['helpful_votes'] / new_df['total_votes']

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,results
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y,0.915254
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y,0.714286
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y,0.952381
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y,0.636364
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y,0.957447
2731,R2AYJHH8WJNGAU,4,98.0,104.0,N,Y,0.942308
3007,R111DJA10Y6CMU,5,26.0,39.0,N,Y,0.666667
3164,R2EE2TR4MRDV0U,5,53.0,59.0,N,Y,0.898305
3368,RD4A80I5JDHED,5,69.0,77.0,N,N,0.896104
3376,R1GU6IYZQWQE8X,2,24.0,25.0,N,Y,0.960000

In [8]:
next_new_df = new_df[new_df['results'] > 0.5]
next_new_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,results
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y,0.915254
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y,0.714286
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y,0.952381
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y,0.636364
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y,0.957447
2731,R2AYJHH8WJNGAU,4,98.0,104.0,N,Y,0.942308
3007,R111DJA10Y6CMU,5,26.0,39.0,N,Y,0.666667
3164,R2EE2TR4MRDV0U,5,53.0,59.0,N,Y,0.898305
3368,RD4A80I5JDHED,5,69.0,77.0,N,N,0.896104
3376,R1GU6IYZQWQE8X,2,24.0,25.0,N,Y,0.960000

In [9]:
paid_df = next_new_df[next_new_df['vine'] == 'Y']
paid_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,results
7585,R1MAOLI5FJHAFM,4,249.0,261.0,Y,N,0.954023
13291,R9PYAUDIBJVEC,4,12.0,22.0,Y,N,0.545455
23444,R6V9SHMMG5M8F,5,101.0,110.0,Y,N,0.918182
38024,R37PVLT6ELL5J4,4,181.0,209.0,Y,N,0.866029
88492,R2FSFGWZF24V9,4,50.0,51.0,Y,N,0.980392
193753,R3SRW1E8J56IGV,5,262.0,281.0,Y,N,0.932384
196666,R86Z11D4CWOFM,4,32.0,36.0,Y,N,0.888889
202065,RNP01HW9YISJO,4,20.0,23.0,Y,N,0.869565
206397,R3KLACA6LCDZ0S,3,21.0,22.0,Y,N,0.954545
222459,RZEQYOT2RE0N7,4,75.0,80.0,Y,N,0.937500

In [10]:
unpaid_df = next_new_df[next_new_df['vine'] == 'N']
unpaid_df.head(10)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase,results
116,R2WOW0TURNXB26,3,54.0,59.0,N,Y,0.915254
197,R13VL62Y2HBQ0B,5,15.0,21.0,N,Y,0.714286
307,R22G55KAPZKJQV,4,20.0,21.0,N,Y,0.952381
1012,R1610PGTJS7G3N,2,28.0,44.0,N,Y,0.636364
2265,RLQL04BL0QXOJ,4,45.0,47.0,N,Y,0.957447
2731,R2AYJHH8WJNGAU,4,98.0,104.0,N,Y,0.942308
3007,R111DJA10Y6CMU,5,26.0,39.0,N,Y,0.666667
3164,R2EE2TR4MRDV0U,5,53.0,59.0,N,Y,0.898305
3368,RD4A80I5JDHED,5,69.0,77.0,N,N,0.896104
3376,R1GU6IYZQWQE8X,2,24.0,25.0,N,Y,0.960000

In [11]:
# count of paid Vine votes
paid_df['total_votes'].count()

613

In [12]:
# count of unpaid Vine votes
unpaid_df['total_votes'].count()

64771

In [13]:
#number of paid Vine 5-star reviews
len(paid_df[paid_df['star_rating']==5])

200

In [14]:
#number of unpaid Vine 5-star reviews
len(unpaid_df[unpaid_df['star_rating']==5])

28823

In [15]:
#Percent 5 star review paid Vine
(len(paid_df[paid_df['star_rating']==5]))/(paid_df['total_votes'].count())

0.3262642740619902

In [16]:
#Percent 5 star review unpaid Vine
(len(unpaid_df[unpaid_df['star_rating']==5]))/(unpaid_df['total_votes'].count())

0.4449985332942212